.row
  .col-md-6
    %h1 ExchangeXL
.row
  .col-md-6
    %table.table.table-striped
      %thead
        %tr
          %th Company
          %th Total price
          %th Share price
          %th Shares
          %th Sell
          %th Buy
      %tbody#stocks
  .col-md-6
    %h4 Investments: $0.00
    %h4 Cash: $0.00
    %h4 Day 1
    %button.btn.btn-warning Advance
